/*************** CSS STYLES OVERIDING BOOTSTRAP *********/

/** removing negative margin the first row of nav ONLY **/

body{
   font-family: 'Roboto', sans-serif;
   font-size:10px;
 }

h1, h2, h3, h4, h5,h6{
  margin:0;
  font-weight:700;
}

p{
  font-size:14px;
  font-weight:400;
  color:#fff;
}

.row{
  margin:0;
}

ul{
  list-style: none;
  padding-left:0;

}

svg{
  width:15px;
  height:15px;
}

a{
  font-weight:400;
  color:#fff;
}

a:hover{
  color:#fff;
  text-decoration: none;
}

img{
  width:100%;
}

.plain-link{
  color:#fff;
  font-weight:600;
}

.btn:focus{
  box-shadow: none;
}


.col-4{
  padding-right:0; /** removes padding only for 0-576px. **/
}

.divider{
  border-top: 1px solid #bbb;
}

/**** style only for first h1 ****/

.navbar .row  .col-10 h1{
  font-size:25px;

}

/*** heading-colors***/
.secondary-heading{
  color:#fff;
}

.sub-heading{
  color:white;
  font-size:20px;
}



/** removes negative margin for the first row only **/
nav > .row {
  margin: 0;
  width:100%;
  background-color: #222;
}

/** removes border for the toggle menu button on Mobile **/
.navbar-toggler{
  border:none;
}



/** main container **/
.main{
  background-color: #191919;
}

/*** left hand side menu ***/

.mobileMenu{
  position: fixed;
  top:0;
  bottom:0;
  margin:auto;
  left: 0;
  margin-top:38px; /*** Needed to add custom margin-top to side menu since bootstrap does not provide a class above 3rem **/
  transform:translateX(-100%);
  transition: all ease-in .25s;
  width:200px;
  background-color: #222;
}

/*** when the mobie menu opens ****/
.menu-open{
  transform:translateX(0);
}

/*** sidebar menu profile container ***/

.profile-container{
background-image: url("img/profile-pic.JPG");
background-size:cover;
background-repeat: no-repeat;
width:100%;
height:200px;
display: flex;
justify-content: center;
align-items: flex-end;
}
.profile-container h3{
  display:none;
}

/** ul menu **/

.mobileMenu div:nth-of-type(2){
  width:100%;
  border-radius:0;
}


.mobileMenu div:nth-of-type(2) div a{
border-radius: 0;
padding-left:70px;
}
.mobileMenu div:nth-of-type(2){
  width:100%;
  border-radius:0;
}

.mobileMenu div:nth-of-type(2) > div > div a{
  background-color: initial;
  text-transform: uppercase;
  color: #6c757d;
  text-align: left;
  letter-spacing: 1px;
  font-size:12px;
}

.navbar .mobileMenu div:nth-of-type(2) > div > div .active{
  color:#fff;
  border: 1px solid rgba(0,0,0,.125);

}

/* .tab-pane{
  background-color: #181818;
} */


/***********************************************************************************************************************************************************************************************************************************************************************************************************************************
**************************************************************************** ABOUT ME *********************************************************************************************************************************************************************************************************************************************/

.what-ido{
  flex-direction: column;
}

.icon-flex {
  display: flex;
  align-items: center;
}
/* .about-me-info-box div{
  background-color: #222;

} */

.list-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height:150px;
  margin:0;
  justify-content: space-around;
}

.list-container li p a
 {
  color:#b7b7b7
}

svg + p {
    margin-bottom:0
}

svg{
  margin-right:10px;
}

.about-me-info-box div:nth-child(1) ul{
padding: 0 10px 20px 0;
}

.about-me-info-box div:nth-child(2) ul{
padding: 0 0 20px 10px;
}

.list-container{
  background-color: #222;
}

/*** arrow fill colour **/

.list-container li .icon{
  fill: #F68338;
}

/** CONTACT ME BUTTON ***/

.btn{
  background-color: #F68338;
  border-radius: 0;
  font-weight:600;
  font-size:14px;
  color:#fff;
  letter-spacing: 1px;
}

.what-ido-icon{
  width:35px;
  height:35px;
}


/*** removing padding from columns ***/

.icon-border{
  padding:25px 15px 25px 15px;
  border: 2px solid #343a40;
}

.what-ido-box-container{
  display: flex;
}

.what-ido-box-container > .col-4{
  padding:0 15px 25px 0;
}

.what-ido .col-4:nth-child(3){
  padding-right:0;
}

/***********************************************************************************************************************************************************************************************************************************************************************************************************************************
**************************************************************************** PORTOFLIO *********************************************************************************************************************************************************************************************************************************************/

/*** Mobile styles only. Desktop styles can be found in the MQ section **/

.mobilefigcation{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  cursor: pointer;
}



.portfolio .col-4{
  max-width:100%;

}

.portfolio .col-4 .portfolio-image-container{
  width: 100%;
}

.personal-project-container{
    height:370px;
}


.desktopfigcation{
display: none;
}




/** for portfolio site only **/

.color-scheme-background{
  width:75px;
  height:75px;
}


.color-scheme .col-3:nth-of-type(1) .color-scheme-background{
  background-color: #F68338;
}

.color-scheme .col-3:nth-of-type(2) .color-scheme-background{
  background-color: #fff;
}

.color-scheme .col-3:nth-of-type(3) .color-scheme-background{
  background-color: #222;
  border:2px solid white;
}

.color-scheme .col-3:nth-of-type(4) .color-scheme-background{
  background-color: #191919;
}

.card-container-odd{
  background-color: #F68338;
}

.card-container{
  background-color: #fff;
}

.card-container h5,
.card-container p{
  color:#F68338;
}
/***********************************************************************************************************************************************************************************************************************************************************************************************************************************
**************************************************************************** CV *********************************************************************************************************************************************************************************************************************************************/

.cv-block:not(:last-child){
  border-bottom: 1px solid white;
  margin-left:15px;
}

.cv-block{
  margin-left:15px;
}

.cv-block:not(:last-child)::before{
  content: '';
  position: absolute;
  top:110px;
  bottom:110PX;
  left:-.7rem;
  margin:auto;
  height:100%;
  width:2px;
  background-color: #F68338;

}

.cv-block .secondary-heading::before{
  content: '';
  position: absolute;
  height: 10px;
  width:10px;
  background-color: #F68338;
  border-radius: 500px;
  margin-top: 5px;
  left: -16px;

}

.cv-block .sub-heading::before{
  content: '';
  position: absolute;
  height: 8px;
  width:8px;
  box-sizing:border-box;
  background-color: #191919;
  border-radius: 500px;
  border: 1px solid #F68338;
  margin-top: 5px;
  left: -14px;
  z-index:999;
  margin-top:13px;

}


.card-container + .desktopfigcation .sub-heading{
  color:#fff;
}

.sub-heading{
  color:#F68338;
}

/*** Skillset ***/

.skillbar > .row{
  justify-content: space-between;
  height:100px;
}

.skill-icon svg use {
  fill: #F68338;
}

.skill-icon::before {
  content: '';
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  margin: auto;
  height:50px;
  width:50px;
  border: 3px solid #F68338;
  z-index:1;
  border-radius: 500px;
}

.skill-icon{
  width:100px;
  height:100px;
  position: relative;
  box-sizing: border-box;
  border-radius: 500px;
  margin: 20px 0;
}


.skill-icon-svg{
  width:20px;
  height:20px;
  z-index:2;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size:40px;
}

.skill-text{
  display: none;
}

/***********************************************************************************************************************************************************************************************************************************************************************************************************************************
**************************************************************************** GET IN TOUCH *********************************************************************************************************************************************************************************************************************************************/

#list-getintouch-list{
  cursor: pointer;
  transition: all .25s ease-in
}

#list-getintouch-list:hover{
  color:white;
}





/***********************************************************************************************************************************************************************************************************************************************************************************************************************************
**************************************************************************** MODAL POP-UP BOX*********************************************************************************************************************************************************************************************************************************************/

.modal-header{
  background-color: #F68338;
  border:none;
  color:#fff;
}

.modal-content{
  background-color: #222;
}

.modal-footer button{
  border:none;
}


.modal-content .modal-footer .btn:active,
.modal-content .modal-footer .btn:focus,
.modal-content .modal-footer .btn:active:focus,
.modal-content .modal-footer .btn:visited
{
  background-color: #F68338;
  color:#222;
  box-shadow: none;
  border:1px solid #F68338;
}

.modal-content .modal-footer .btn{
    background-color: #F68338;
    border:1px solid #F68338;
    transition: none;
}



/***********************************************************************************************************************************************************************************************************************************************************************************************************************************
**************************************************************************** MQ *********************************************************************************************************************************************************************************************************************************************/


@media(min-width:768px){
  .skill-text{
    display: block;
    margin-bottom:-45px;
    font-size: 12px;
}
}

@media(min-width:576px){
  .portfolio .col-4 .portfolio-image-container{
    width:230px;
  }
  .col-4{
    padding-right:15px; /** inital value is 0. **/
  }

  /*** Skill icons **/
.skill-icon::before{
  width:90%;
  height:90%;
}
.skillbar > .row{
  height:initial;
}

.skill-icon-svg{
  width:35px;
  height:35px;
  margin: 34px auto;
}


  /***  // Skill icons **/

.portfolio .col-4 .portfolio-image-container{
  width:215px;

}

.mobilefigcation{
  margin-right: 15px;
}

.personal-project-container{
    height:215px;
}

}



@media(min-width:960px){
  .portfolio .col-4 .portfolio-image-container{
    width:290px;
  }
  .personal-project-container{
      height:290px;
  }
}




@media(max-width:768px){
  .about-me-info-box{
  flex-direction:column;
  }
  .about-me-info-box .col-6{
    max-width:100%;
    padding:0;
  }
  .about-me-info-box .col-6 ul{
    padding:0!important;

  }
.what-ido-box-container{
  flex-direction: column;
}

.what-ido-box-container .col-4 {
  max-width:100%;
  padding: 25px 0;
}

}

@media(min-width:992px){
  .mobileMenu{
    transform:translateX(0);
    margin-top:0;
  }
  .main-content{
    padding-left:200px; /*** adds 200px padding to the left of the container to acoomdate the sidebar menu. **/
    padding-right:0;
  }



  /******** overlay styles ***/



  .desktopfigcation p{
    color:#222;
    display: block;
  }

  .desktopfigcation .icon-flex .icon{
    fill:#222;
  }

  .desktopfigcation .icon-flex .btn{
    border:none;
  }


  .desktopfigcation .secondary-heading{
    color:#222;
  }

  .portfolio-image-container{
    perspective: 50em;
    -moz-perspective:50em;
    -webkit-perspective: 50em;
  }

  .card-container-odd + .desktopfigcation{
    display: block;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: #fff;
    width:inherit;
    transform: rotateY(90deg);
    opacity: 0;
    transform-origin: 0 50%;
    transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
  }

  .card-container + .desktopfigcation{
    display: block;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: #F68338;
    width:inherit;
    transform: rotateY(90deg);
    opacity: 0;
    transform-origin: 0 50%;
    transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
  }

  .portfolio-image-container:hover .desktopfigcation{
  transform: rotateY(0);
  opacity: 1;
  }

  .portfolio-image-container:hover + .desktopfigcation{
  transform: rotateY(0);
  opacity: 1;
  }

  .card-container,
  .card-container-odd
   {
    transform-origin: 100% 50%;
    transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
  }

  .card-container{
    width: 100%;
    height: 290px;;
  }

  .card-container-odd{

    width: 100%;
    height: 290px;
  }

  .card-container-odd h2{
    color:#fff;
  }

  .card-container h2{
    color:#F68338;
  }



  .portfolio-image-container:hover .card-container,
  .portfolio-image-container:hover .card-container-odd
  {
    transform: rotateY(-90deg);
    opacity: 0;
  }

  .sub-heading{
    font-size:20px;
  }

  .card-container-odd + .desktopfigcation .sub-heading{
    color:#F68338;
  }

    .card-container-odd + .desktopfigcation .btn{
    background-color: initial;
    color: #F68338;
  }

  .card-container-odd + .desktopfigcation .btn:hover{
  color: #212529;
}


}
